@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: "Encode Sans Semi Expanded", sans-serif;
}
body{
    background: linear-gradient(155deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a{
    background-color: white;
    height: 76%;
    max-width: 40%;
    border-radius: 8px;
    margin-top: 55px;
    margin-left: 440px;
    width: 50%;
    padding: 10px;
    box-shadow: 5px 5px 10px 5px rgb(36, 34, 34);
}

.b{
    margin-top:30px;
    margin-left:25px;
    margin-right: 25px;
    justify-content: space-between;
    display: flex;
}

.c{
    color:white;
    margin-left: 25px;
    width: 540px;
    padding:15px;
    font-size: 16px;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(6, 6, 225) 0%, rgba(9,9,121,1) 35%, rgb(221, 3, 255) 100%);
    box-shadow: 3px 3px 5px 3px rgb(54, 53, 53);
}

.c:active{
    background: linear-gradient(90deg, rgb(2, 2, 120) 0%, rgb(6, 6, 78) 35%, rgb(132, 3, 152) 100%); 
}

.d{
    margin-left: 100px;
}

.in{
    margin-top: 10px;
    width: 250px;
    padding:10px;
    border:none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 2px rgb(128, 120, 120);
}




 